{% extends "portal/layout.html" %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='select2/select2.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='select2/select2.min.js') }}"></script>

    <div class="form-inline mb20" role="form">
        <div class="form-group">
            <button type="button" onclick="sync_with_god();" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Sync With God
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="padding-left: 8px;">
            {% for prod in data.products %}
            <a href="{{ url_for('server_info', product=prod) }}">{{ prod }}</a>
            <span class="cut-line">|</span>
            {% endfor %}
        </div>

        <div class="panel-heading" style="padding-left: 8px;">
            <a href="{{ url_for('lev_info', lev='product') }}">生产</a>
            <span class="cut-line">|</span>
            <a href="{{ url_for('lev_info', lev='test') }}">测试</a>
        </div>

        <div class="panel-heading" style="padding-left: 8px;">
            <a href="{{ url_for('idc_info', idc='TianTan') }}">铜牛天坛机房</a>
            <span class="cut-line">|</span>
            <a href="{{ url_for('idc_info', idc='GuoMao') }}">铜牛国贸机房</a>
            <span class="cut-line">|</span>
            <a href="{{ url_for('idc_info', idc='YiZhuang') }}">铁通亦庄机房</a>
            <span class="cut-line">|</span>
            <a href="{{ url_for('idc_info', idc='ShangHai') }}">上海SH5机房</a>
        </div>


        <!-- Table -->
        <table class="table table-hover table-bordered table-striped" style="margin-bottom: 0px; margin-top: 0px;">
            <thead>
            <tr>
                <th>host</th>
                <th>falcon-ip</th>
                <th>god-ip</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            {% for v in data.vs %}
                <tr>
                    <td>
                        {{ v.hostname }}
                    </td>
                    <td>
                        {{ v.ip }}
                    </td>
                    <td>
                        {% for ip in v.ips %}
                            <p>{{ ip }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {{ v.status }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
