{% extends "portal/layout.html" %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='select2/select2.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='select2/select2.min.js') }}"></script>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="padding-left: 8px;">
            {% for prod in data.products %}
            <a href="{{ url_for('server_info', product=prod) }}">{{ prod }}</a>
            <span class="cut-line">?</span>
            {% endfor %}
        </div>

        <!-- Table -->
        <table class="table table-hover table-bordered table-striped" style="margin-bottom: 0px; margin-top: 0px;">
            <thead>
            <tr>
                <th>host</th>
                <th>falcon-ip</th>
                <th>god-ip</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            {% for v in data.vs %}
                <tr>
                    <td>
                        {{ v.hostname }}
                    </td>
                    <td>
                        {{ v.ip }}
                    </td>
                    <td>
                        {{ v.ips }}
                    </td>
                    <td>
                        {{ v.status }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
